<a href="https://colab.research.google.com/github/brook0616/BK_Data-Science-and-AI-2024/blob/main/Time_series_Analysis_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install -q kaggle

https://www.kaggle.com/general/74235

In [ ]:
from google.colab import files

In [ ]:
files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"zbrook","key":"80711252949432378183a7148528e279"}'}

In [ ]:
 ! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
 ! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

ref                                                       title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
arnabchaki/data-science-salaries-2023                     Data Science Salaries 2023 💸                       25KB  2023-04-13 09:55:16          14242        379  1.0
chitrakumari25/corona-virus-latest-data-2023              Corona virus latest data 2023                      10KB  2023-04-29 16:00:51           1226         34  1.0
utkarshx27/starbucks-nutrition                            Starbucks Nutrition Facts                           2KB  2023-05-10 05:42:59            720         30  1.0
utkarshx27/monthly-transportation-statistics              Monthly Transportation Statistics                 131KB  2023-05-02 02:43:50           1066         28  1.0
iammustafatz/diabetes-prediction-dataset                  Diabetes prediction dataset                       734KB  2023-04-08 06:11:45           7182        103  1.0
desalegngeb/students-exam-scores                          Students Exam Scores: Extended Dataset            695KB  2023-04-14 00:15:38           5660        121  1.0
bourdier/all-tv-series-details-dataset                    Weekly TV Series Update Dataset                    56MB  2023-05-10 20:41:10            630         21  0.9411765
utkarshx27/smoking-dataset-from-uk                        Smoking Dataset from UK                            17KB  2023-05-10 05:41:12            960         32  1.0
mykhailozub/500-hotels-from-airbnb-booking-and-hotelscom  7500 hotels from Airbnb, Booking and Hotels.com   428KB  2023-05-04 15:37:17            544         23  1.0
ahmedshahriarsakib/usa-real-estate-dataset                USA Real Estate Dataset                             1MB  2023-04-30 03:51:36           1817         47  1.0
asahu40/walmart-data-analysis-and-forcasting              Walmart Data Analysis and Forcasting              122KB  2023-04-26 07:07:03           2130         49  1.0
nishantbhardwaj07/airindia-monthly-passenger-traffic      AirIndia Monthly Passenger Traffic                  6KB  2023-04-20 11:26:18            780         22  1.0
utkarshx27/real-estate-sales-2001-2020-gl                 Real Estate Sales 2001-2020 GL                     33MB  2023-05-05 04:22:05            746         26  1.0
sougatapramanick/happiness-index-2018-2019                Happiness Index 2018-2019                          15KB  2023-04-14 12:01:03           2419         45  1.0
olcaybolat1/dermatology-dataset-classification            Dermatology Dataset (Multi-class classification)    5KB  2023-05-09 11:21:39            310         26  1.0
utkarshx27/suicide-attempts-in-shandong-china             Suicide Attempts in Shandong, China                29KB  2023-05-06 11:54:22            725         29  1.0
r1shabhgupta/best-movies-on-netflix                       Top 100 Movies on Netflix                          32KB  2023-04-13 15:34:38           1718         44  1.0
salvatorerastelli/spotify-and-youtube                     Spotify and Youtube                                 9MB  2023-03-20 15:43:25          14523        456  1.0
mohamedafsal007/house-price-dataset-of-india              House Price dataset of India                      480KB  2023-03-27 06:22:55          11075        106  0.88235295
utkarshx27/arrests-for-marijuana-possession               Arrests for Marijuana Possession                   32KB  2023-05-08 10:17:21            889         31  1.0

In [ ]:
! kaggle competitions download <name-of-competition>

/bin/bash: -c: line 0: syntax error near unexpected token `newline'
/bin/bash: -c: line 0: ` kaggle competitions download <name-of-competition>'

In [ ]:
!kaggle datasets list

ref                                                       title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
arnabchaki/data-science-salaries-2023                     Data Science Salaries 2023 💸                       25KB  2023-04-13 09:55:16          14248        380  1.0
chitrakumari25/corona-virus-latest-data-2023              Corona virus latest data 2023                      10KB  2023-04-29 16:00:51           1227         34  1.0
utkarshx27/starbucks-nutrition                            Starbucks Nutrition Facts                           2KB  2023-05-10 05:42:59            721         30  1.0
utkarshx27/monthly-transportation-statistics              Monthly Transportation Statistics                 131KB  2023-05-02 02:43:50           1066         28  1.0
iammustafatz/diabetes-prediction-dataset                  Diabetes prediction dataset                       734KB  2023-04-08 06:11:45           7182        103  1.0
desalegngeb/students-exam-scores                          Students Exam Scores: Extended Dataset            695KB  2023-04-14 00:15:38           5660        121  1.0
bourdier/all-tv-series-details-dataset                    Weekly TV Series Update Dataset                    56MB  2023-05-10 20:41:10            630         21  0.9411765
utkarshx27/smoking-dataset-from-uk                        Smoking Dataset from UK                            17KB  2023-05-10 05:41:12            961         32  1.0
mykhailozub/500-hotels-from-airbnb-booking-and-hotelscom  7500 hotels from Airbnb, Booking and Hotels.com   428KB  2023-05-04 15:37:17            544         23  1.0
ahmedshahriarsakib/usa-real-estate-dataset                USA Real Estate Dataset                             1MB  2023-04-30 03:51:36           1817         47  1.0
asahu40/walmart-data-analysis-and-forcasting              Walmart Data Analysis and Forcasting              122KB  2023-04-26 07:07:03           2130         49  1.0
nishantbhardwaj07/airindia-monthly-passenger-traffic      AirIndia Monthly Passenger Traffic                  6KB  2023-04-20 11:26:18            780         22  1.0
utkarshx27/real-estate-sales-2001-2020-gl                 Real Estate Sales 2001-2020 GL                     33MB  2023-05-05 04:22:05            746         26  1.0
sougatapramanick/happiness-index-2018-2019                Happiness Index 2018-2019                          15KB  2023-04-14 12:01:03           2421         45  1.0
olcaybolat1/dermatology-dataset-classification            Dermatology Dataset (Multi-class classification)    5KB  2023-05-09 11:21:39            310         26  1.0
utkarshx27/suicide-attempts-in-shandong-china             Suicide Attempts in Shandong, China                29KB  2023-05-06 11:54:22            726         29  1.0
r1shabhgupta/best-movies-on-netflix                       Top 100 Movies on Netflix                          32KB  2023-04-13 15:34:38           1719         44  1.0
salvatorerastelli/spotify-and-youtube                     Spotify and Youtube                                 9MB  2023-03-20 15:43:25          14524        456  1.0
mohamedafsal007/house-price-dataset-of-india              House Price dataset of India                      480KB  2023-03-27 06:22:55          11075        106  0.88235295
utkarshx27/arrests-for-marijuana-possession               Arrests for Marijuana Possession                   32KB  2023-05-08 10:17:21            891         31  1.0

In [ ]:
!kaggle datasets list | head -n 1 && kaggle datasets list | tail -n +2 | sort -k 3n

ref                                                       title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
ahmedshahriarsakib/usa-real-estate-dataset                USA Real Estate Dataset                             1MB  2023-04-30 03:51:36           1817         47  1.0
arnabchaki/data-science-salaries-2023                     Data Science Salaries 2023 💸                       25KB  2023-04-13 09:55:16          14248        380  1.0
asahu40/walmart-data-analysis-and-forcasting              Walmart Data Analysis and Forcasting              122KB  2023-04-26 07:07:03           2130         49  1.0
bourdier/all-tv-series-details-dataset                    Weekly TV Series Update Dataset                    56MB  2023-05-10 20:41:10            630         21  0.9411765
chitrakumari25/corona-virus-latest-data-2023              Corona virus latest data 2023                      10KB  2023-04-29 16:00:51           1227         34  1.0
desalegngeb/students-exam-scores                          Students Exam Scores: Extended Dataset            695KB  2023-04-14 00:15:38           5660        121  1.0
iammustafatz/diabetes-prediction-dataset                  Diabetes prediction dataset                       734KB  2023-04-08 06:11:45           7182        103  1.0
mohamedafsal007/house-price-dataset-of-india              House Price dataset of India                      480KB  2023-03-27 06:22:55          11075        106  0.88235295
mykhailozub/500-hotels-from-airbnb-booking-and-hotelscom  7500 hotels from Airbnb, Booking and Hotels.com   428KB  2023-05-04 15:37:17            544         23  1.0
nishantbhardwaj07/airindia-monthly-passenger-traffic      AirIndia Monthly Passenger Traffic                  6KB  2023-04-20 11:26:18            780         22  1.0
olcaybolat1/dermatology-dataset-classification            Dermatology Dataset (Multi-class classification)    5KB  2023-05-09 11:21:39            310         26  1.0
salvatorerastelli/spotify-and-youtube                     Spotify and Youtube                                 9MB  2023-03-20 15:43:25          14524        456  1.0
sougatapramanick/happiness-index-2018-2019                Happiness Index 2018-2019                          15KB  2023-04-14 12:01:03           2421         45  1.0
utkarshx27/arrests-for-marijuana-possession               Arrests for Marijuana Possession                   32KB  2023-05-08 10:17:21            891         31  1.0
utkarshx27/monthly-transportation-statistics              Monthly Transportation Statistics                 131KB  2023-05-02 02:43:50           1066         28  1.0
utkarshx27/real-estate-sales-2001-2020-gl                 Real Estate Sales 2001-2020 GL                     33MB  2023-05-05 04:22:05            746         26  1.0
utkarshx27/smoking-dataset-from-uk                        Smoking Dataset from UK                            17KB  2023-05-10 05:41:12            961         32  1.0
utkarshx27/starbucks-nutrition                            Starbucks Nutrition Facts                           2KB  2023-05-10 05:42:59            721         30  1.0
utkarshx27/suicide-attempts-in-shandong-china             Suicide Attempts in Shandong, China                29KB  2023-05-06 11:54:22            726         29  1.0
r1shabhgupta/best-movies-on-netflix                       Top 100 Movies on Netflix                          32KB  2023-04-13 15:34:38           1719         44  1.0

In [ ]:
 !kaggle datasets list | wc -l

22

In [ ]:
! kaggle competitions download -c 'store-sales-time-series-forecasting'

Downloading store-sales-time-series-forecasting.zip to /content
 42% 9.00M/21.4M [00:00<00:00, 58.9MB/s]
100% 21.4M/21.4M [00:00<00:00, 92.5MB/s]

In [53]:
!pwd

/content/drive/MyDrive/my_Kaggle_data

In [54]:
!unzip store-sales-time-series-forecasting.zip -d .

Archive:  store-sales-time-series-forecasting.zip
  inflating: ./holidays_events.csv
  inflating: ./oil.csv
  inflating: ./sample_submission.csv
  inflating: ./stores.csv
  inflating: ./test.csv
  inflating: ./train.csv
  inflating: ./transactions.csv

In [55]:
ls

holidays_events.csv                      stores.csv
oil.csv                                  test.csv
sample_submission.csv                    train.csv
store-sales-time-series-forecasting.zip  transactions.csv

https://www.kaggle.com/code/terhuichee/sales-forecasting-arima-model/notebook#Datasets

In [ ]:
!find / -name "holidays_events.csv"

find: ‘/proc/58/task/58/net’: Invalid argument
find: ‘/proc/58/net’: Invalid argument
/content/holidays_events.csv

In [47]:
!pwd

/content/drive

In [49]:
!mkdir -p /content/drive/MyDrive/my_Kaggle_data/

This will create a new directory called my_Kaggle_data inside your MyDrive folder. Then you can navigate to this directory using %cd command and download your data from Kaggle using kaggle competitions download command.

In [50]:
%cd /content/drive/MyDrive/my_Kaggle_data/

/content/drive/MyDrive/my_Kaggle_data

In [51]:
!pwd

/content/drive/MyDrive/my_Kaggle_data

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Instead of directly accessing collab file session ,  you can upload them to google drive and mount your google drive giving access to your files in colab running this in a cell which might be easier as uploading directory to colab is slower and gets deleted after 12 hours.

 When you mount your Google Drive in Google Colab, you can access the files in your Google Drive directory from the /content/drive directory in Colab. This can be more convenient if you have a large dataset that you want to use across multiple Colab sessions.


This will prompt you to authenticate your Google account and give permission for Colab to access your Google Drive. will have access to files and photos of whatever in your google drive  Once you have done this, you will be able to access your Google Drive directory from within Colab.

In [52]:
!kaggle competitions download -c store-sales-time-series-forecasting -p /content/drive/MyDrive/my_Kaggle_data/

Downloading store-sales-time-series-forecasting.zip to /content/drive/MyDrive/my_Kaggle_data
 47% 10.0M/21.4M [00:00<00:00, 103MB/s]
100% 21.4M/21.4M [00:00<00:00, 121MB/s]

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import scipy.stats as stats
from scipy.stats import pearsonr
import itertools
from statsmodels.tsa.stattools import kpss
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.stattools import adfuller

In [56]:
!pwd

/content/drive/MyDrive/my_Kaggle_data

Locate and re write the actual files location. it will be different from the one you see in kaggle like below

In [ ]:
test_df = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/test.csv')
oil_df = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/oil.csv')
transaction_df = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/transactions.csv')
stores_df = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/stores.csv')
holiday_event_df = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv') 
train_df = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/train.csv')

https://www.kaggle.com/code/terhuichee/sales-forecasting-arima-model/notebook

In [57]:
###  re written to the actual diurectory 

test_df = pd.read_csv('/content/drive/MyDrive/my_Kaggle_data/test.csv')
oil_df = pd.read_csv('/content/drive/MyDrive/my_Kaggle_data/oil.csv')
transaction_df = pd.read_csv('/content/drive/MyDrive/my_Kaggle_data/transactions.csv')
stores_df = pd.read_csv('/content/drive/MyDrive/my_Kaggle_data/stores.csv')
holiday_event_df = pd.read_csv('/content/drive/MyDrive/my_Kaggle_data/holidays_events.csv') 
train_df = pd.read_csv('/content/drive/MyDrive/my_Kaggle_data/train.csv')

In [79]:

display(train_df.head())

print("Dimensions (Row count, Column count): ({:,}, {})".format(train_df.shape[0], train_df.shape[1]))

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

Dimensions (Row count, Column count): (3,000,888, 6)

In [59]:
test_df.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [60]:
oil_df.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [61]:
transaction_df.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [62]:
stores_df.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [63]:
holiday_event_df.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False